@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("https://wallpapercave.com/wp/wp4033961.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

button {
  margin-top: 140px;
  margin-left: 1270px;
}

h3 {
  color: rgb(255, 213, 0);
  margin-top: 50px;
  margin-left: 1000px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
  padding-right: 50px;
}
